<div class="container">
  <h1>{{ trip.title }}</h1>
  <dl class="list">
    <dt>Destination</dt>
    <dd>{{ trip.destination }}</dd>
    <dt>Date</dt>
    <dd>{{ trip.date }}</dd>
    <dt>Sponsor</dt>
    <dd>{{ trip.sponsor }}</dd>
    <dt>Email</dt>
    <dd>{{ trip.email }}</dd>
    <dt>Phone</dt>
    <dd>{{ trip.phone }}</dd>
    <dt>Description</dt>
    <dd>{{ trip.description }}</dd>
    <dt>Update Date</dt>
    <dd>{{ trip.updated_at }}</dd>
  </dl>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn" type="button" (click)="returnToMain(trip._id)">Return</button>
      <a [routerLink]="['/trip-edit', trip._id]" class="btn btn-success">EDIT</a>
      <button class="btn btn-danger" type="button" (click)="deleteTrip(trip._id)">DELETE</button>
    </div>
  </div>
</div>